.App-header {
	background-color: #282c34;
	display: flex;
	font-size: calc(5px + 2vmin);
	color: white;
}
#components-layout-demo-top .logo {
	width: 120px;
	height: 31px;
	background: rgba(255, 255, 255, 0.76);
	margin: 16px 24px 16px 0;
	float: left;
}
